


.contatti {
    width: 100%;
    background: #fefefe;
    line-height: 30px;
    overflow: hidden;
    padding-left: 55px;
    padding-bottom: 30px;
    margin-bottom: 20px;

    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.privacy {
    margin-top: 30px;
    width: 100%;
    background: #fefefe;
    line-height: 30px;
    overflow: hidden;
    padding: 62px 55px 65px 55px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}


.header {
    display: flex;
    top: 0;
    z-index: 10;
}

.home_text {
    line-height: 200%;
    font-weight: 500;
}


@media screen and (min-width : 1110px) {

    .home_container {
        align-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
        "title home_slide"
        "home_text home_slide";

    }

    .title{
        position: relative;
        grid-area: title;
        margin-bottom: 10px;
    }

    .home_text {
        position: relative;
        grid-area: home_text;
        text-align: left;
    }

    .home_slide {
        position: relative;
        grid-area: home_slide;
        width: 450px;
        margin-left: 30px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width : 1110px) {
    .home_container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .title{
        margin-bottom: 50px;
    }

    .home_text {
        width: auto;
    }

    .home_slide {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

